{% load otree_tags staticfiles %}

<div class="instructions panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h1 class="panel-title" align="right">
            <a colour="#000" role="button" data-toggle="collapse"  href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">   
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Instructions</a></h1>
    <div id="collapseOne" class="panel-collapse collapse {{ showinstructions }}" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <p> Thank you for participating in the experiment.</p>
            <p> Please do your best to solve this group auditory discriminatory task.
                In every trial, you will hear a sound (once), and your task is to say which vowel you perceived.</p>
            <p> If you and your partner agree in your decisions, you will just move on to the next trial.
                But if you and your partner <strong>don't agree</strong> which vowel you heard (you didn't give the same answer), please discuss your opinions, and try to reach a decision together.
                You take turns telling the computer which joint decision you arrived at.</p>
            <p> Aim for being as fast and accurate as possible in your responses. 
                Try to work together with your partner and take advantage of the fact that there are two of you listening to the same sound. </p>
    
        </div>
    </div>
</div>
</div>